ANTHROPIC_API_KEY=your_key_here
FINNHUB_API_KEY=your_key_here
GOOGLE_SHEET_ID=your_sheet_id_here
GOOGLE_CREDENTIALS_FILE=google_credentials.json
ALERT_EMAIL_SENDER=your_gmail@gmail.com
ALERT_EMAIL_PASSWORD=your_16_char_app_password
ALERT_EMAIL_RECEIVER=your_email@gmail.com
REDDIT_USER_AGENT=stock-advisor-bot/1.0